
  
<% if @range == "User" %>
  <h2>Users search for "<%= params[:word] %>"</h2>
  <%= render 'searches/userindex', users: @users %>
    
<% else %>
  <h2>Books search for "<%= params[:word] %>"</h2>
  <%= render 'searches/bookindex', books: @books %>
<% end %>
